{% extends "master.html" %}

{% block title %}
SignUp
{% endblock %}

{% block content %}


<div class="container" style="margin-top: 4rem;">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-8 col-md-6 col-lg-4">
            <div class="text-center"><a class="text-white" href="{% url 'home' %}">URL SHORTNER</a></div>
            <div class="border bg-white rounded p-4">
                {%  if error %}
                <div class="alert alert-danger" role="alert"><i class="fa-solid fa-triangle-exclamation"
                        style="color: #f00a0a;"></i>{{ text }}</div>
                {% endif %}
                <p class="signup-box-msg text-center">Register a new membership</p>
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label class="form-label" for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" value="" aria-describedby="usernamehelptext" required>
                        <div id="usernamehelptext" class="form-text text-danger d-none">space and symbol are not allowed.</div>
                    </div>
                    <div class=mt-3>
                        <label class="form-label" for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email" value="" required>
                    </div>
                    <div class="mt-3">
                        <label class="form-label" for="passwordgroup">Password</label>
                        <input type="password" class="form-control" name="password" id="password" value="" required>
                    </div>
                    <div class="mt-3">
                        <label class="form-label" for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" value=""
                        aria-describedby="passwordhelptext" required>
                        <div id="passwordhelptext" class="form-text text-danger d-none">password doesn't match.</div>    
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" onclick="showpassword()">
                        <label class="form-check-label" for="flexCheckDefault">Show Password</label>
                    </div>
                    <div class="mt-3 d-grid rounded">
                        <button type="submit" class="btn text-white" id="formbutton" style= "background-color:rgb(13,23,33)">Signup</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    Already have an account? <a href="{% url 'login' %}" class="text-dark fw-bold">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}